<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="png" href="/img/logo 2me.png"/>
    <title>2MILLION</title>
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/style.css">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
          <!-- <i class='bx bxl-c-plus-plus'></i> -->
          <img src="/img/logo 2me.png" alt="" class="logo-img">
          <span class="logo_name">KẾ TOÁN DTBH</span>
        </div>

        <ul class="nav-links">
          <li class="nav-item">
            <a href="/home">
              <i class='fa-solid fa-house'></i>
              <span class="link_name">Tổng quan</span>
            </a>

            <ul class="sub-menu blank">
              <li><a class="link_name" href="/home">Tổng quan</a></li>
            </ul>

          </li>
          
          <li class="nav-item active">
            <div class="icon-link">
              <a href="/danhmuc/khachhang">
                <i class='fa-solid fa-list-ul' ></i>
                <span class="link_name">Danh mục</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="/danhmuc/khachhang">Danh mục</a></li>
              <li><a href="/danhmuc/khachhang">Khách hàng</a></li>
              <li><a href="/danhmuc/dichvu">Dịch vụ</a></li>
              <li><a href="/danhmuc/taikhoan">Tài khoản</a></li>
            </ul>
          </li>
          
          <li class="nav-item">
            <div class="icon-link">
              <a href="/chungtu/hoadonGTGT">
                <i class='fa-solid fa-file-lines' ></i>
                <span class="link_name">Chứng từ</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="/chungtu/hoadonGTGT">Chứng từ</a></li>
              <li><a href="/chungtu/hoadonGTGT">Hóa đơn GTGT</a></li>
              <li><a href="/chungtu/phieuGG">Phiếu giảm giá DV</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="#">
              <i class='fa-solid fa-hand-holding-dollar' ></i>
              <span class="link_name">Sổ sách</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Sổ sách</a></li>
            </ul>
          </li>
          
          <li class="nav-item">
            <div class="icon-link">
              <a href="#">
                <i class='fa-solid fa-arrow-trend-up' ></i>
                <span class="link_name">Báo cáo</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Báo cáo</a></li>
              <li><a href="#">Doanh thu theo KH</a></li>
              <li><a href="#">Doanh thu theo DV</a></li>
              <li><a href="#">Tổng hợp Doanh thu</a></li>
              <li><a href="#">Giảm trừ Doanh thu</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="#">
              <i class='fa-solid fa-gear' ></i>
              <span class="link_name">Hệ thống</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Hệ thống</a></li>
            </ul>
          </li>
          <li>
        <div class="profile-details">
          <div class="profile-content">
            <img src="/img/client2.png" alt="profileImg">
          </div>
          <div class="name-job">
            <div class="profile_name">Hữu Thanh</div>
            <div class="job">Kế toán DTBH</div>
          </div>
          <i class='bx bx-log-out' ></i>
        </div>
      </li>
    </ul>
      </div>
    <section class="home-section">
      <div class="home-nav">
          <i class='bx bx-menu' ></i>
          <div class="home-text">
              <i class="fa-solid fa-circle-check home-icon"></i>
              <span>Dữ liệu kế toán 2022</span>
          </div>
          
          <div class="home-info">
              <img src="/img/client2.png" alt="avatar" class="home-avatar">
              <i class="fa-solid fa-caret-down"class="home-icon"></i>
          </div>
      </div>
      <!-- content -->
      <div class="home-content">
        <div class="home-tab">
          <a class="tab-item" href="/danhmuc/khachhang">Khách hàng</a>
          <a class="tab-item" href="/danhmuc/dichvu">Dịch vụ</a>
          <a class="tab-item active" href="/danhmuc/taikhoan">Hệ thống tài khoản</a>
          <a class="tab-item" href="/danhmuc/taikhoan">Bảng giá DV</a>
          <a class="tab-item" href="/danhmuc/taikhoan">Bảng ĐMCK</a>
        </div>
        <hr class="mt-0 mb-4">
        <!-- table -->
        <div class="container-fluid mt-0 px-0">
          <div class="mb-3 d-flex justify-content-start align-items-center">
              <div class="position-relative">
                  <span class="position-absolute search"><i class="fa fa-search"></i></span>
                  <input type="text" id="inputSearch" class="form-control w-100 px-5 m-0" onkeyup="doSearch()" placeholder="Tìm kiếm">
                </div>
                <button onclick="openForm()" type="button" class="btn btn-success ms-3">
                  <i class="fa fa-plus"></i>  Thêm
                </button>
              <div class="filter px-2">   
                  <i class="fa fa-ellipsis-h ms-3"></i>
              </div> 
          </div>
          <div class="table-responsive">
          <table id= "accountTable" class="table table-responsive table-hover bg-light">  
            <!-- <thead> -->
              <tr  id= "detailTable" style="background-color: #dadee2">
                <th scope="col" width="5%"><input type="checkbox" onclick="javascript:checkAll(this)"/></th>
                <th scope="col" width="5%">#</th>
                <th scope="col" width="30%">Tên tài khoản</th>
                <th scope="col" width="15%">Cấp tài khoản</th>
                <th scope="col" width="15%" class="text-center">Thao tác</th>
              </tr>
            <!-- </thead> -->
            <!-- body -->
            <% if(account.length > 0 ) { %>
            
                <% for(var i = 0; i < account.length; i++) { %>

                    <tr id= "detailTable">
                        <th scope="col" width="5%"><input type="checkbox" class="all"/></th>
                        <td scope="col" width="5%"><%- account[i].MaTK %></td>
                        <td scope="col" width="30%"><%- account[i].TenTK %></td>
                        <td scope="col" width="30%"><%- account[i].CapTK %></td>
                        <td scope="col" width="30%">
                            <div class="text-center">

                          <a href="?accountId=<%-account[i].MaTK %>" data-bs-toggle="modal" data-bs-target="#accountForm-update-<%-account[i].MaTK %>">
                            <button class="btn btn-Update">
                              <i class="fa fa-pen" style="scale: 0.8;"></i>  Sửa
                            </button>
                          </a>

                          <a href="/danhmuc/taikhoan?accountId=<%-account[i].MaTK %>" data-bs-toggle="modal" data-bs-target="#delete-account-<%-account[i].MaTK %>">
                            <button class="btn btn-Delete">
                              <i class="fa fa-trash" style="scale: 0.8;"></i>  Xóa
                            </button>
                          </a>

                        </div>

                        <!-- popup UPDATE TKKT -->
                        <div class="modal form-popup--account" id="accountForm-update-<%-account[i].MaTK %>" tabindex="-1">
                            <div class="modal-dialog"></div>
                            <form action="/danhmuc/taikhoan-update" class="form-container" method="post">
                            <h2>Hệ thống tài khoản kế toán   <button class="btn btn-success p-1" disabled>Sửa</button>
                            </h2>
                            <hr bg-dark>
                            <div class="form-content">
                                <!-- <div class="form-left"> -->
                                <div class="accountId">
                                    <label for="accountId"><b>Mã tài khoản</b> <b style="color: red;">*</b></label>
                                    <input id="accountId" type="text" value="<%-account[i].MaTK %>" placeholder="Nhập mã tài khoản" name="accountId" required>
                                </div>
                                <div class="accountName">
                                    <label for="accountName"><b>Tên tài khoản</b> <b style="color: red;">*</b></label>
                                    <input id="accountName" type="text" value="<%-account[i].TenTK %>" placeholder="Nhập tên tài khoản" name="accountName" required>
                                </div>
                                <div class="accountLevel">
                                    <label for="accountLevel"><b>Cấp tài khoản</b></label>
                                    <select name="accountLevel" id="accountLevel" value="<%-account[i].CapTK %>" required>
                                    <option value="<%-account[i].CapTK %>"> <%-account[i].CapTK %> </option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                                </div>
                            </div>
                            
                            <button type="submit" class="btn save">Cập nhật</button>
                            <!-- <input type="submit" id="btnSave" value="Lưu"> -->
                            <button type="button" class="btn close" data-bs-dismiss="modal"><i class="fa-solid fa-close"></i></button>
                            <button type="button" class="btn cancel"  data-bs-dismiss="modal">Hủy</button>
                            </form>
                        </div>
                        <!-- //popup -->

                          <!--  Confirm delete POPUP-->
                          <div class="modal" id="delete-account-<%-account[i].MaTK %>" tabindex="-1">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">XÁC NHẬN</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <p style="text-align: left;font-weight: bold;">Bạn có chắc chắn muốn xóa <span class="text-success">TK <%-account[i].MaTK %></span> không?"</p>
                                </div>
                                <div class="modal-footer">
                                  <a href="/danhmuc/taikhoan-delete?accountId=<%-account[i].MaTK %>">
                                    <button type="button" class="btn btn-danger">Xóa</button>
                                  </a>
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- //Confirm delete POPUP -->

                        </td>
                    </tr>
                <% } %>

            <%} else{ %>
                <h1>Không tìm thấy tài khoản kế toán!</h1>
            <%} %>
            <!-- //body -->

          </table> 
          </div>    
        </div>
        <!-- //table -->
        <!-- pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Trước</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Sau</a>
            </li>
          </ul>
        </nav>
        <!-- //pagination -->

      </div>
    </section>

    <!-- popup -->
    <div class="form-popup--account" id="accountForm">
      <div class="bg-popup"></div>
      <form class="form-container" method="post">
        <h2>Hệ thống tài khoản kế toán</h2>
        <hr bg-dark>
        <div class="form-content">
          <!-- <div class="form-left"> -->
            <div class="accountId">
              <label for="accountId"><b>Mã tài khoản</b> <b style="color: red;">*</b></label>
              <input id="accountId" type="text" placeholder="Nhập mã tài khoản" name="accountId" required>
            </div>
            <div class="accountName">
              <label for="accountName"><b>Tên tài khoản</b> <b style="color: red;">*</b></label>
              <input id="accountName" type="text" placeholder="Nhập tên tài khoản" name="accountName" required>
            </div>
            <div class="accountLevel">
              <label for="accountLevel"><b>Cấp tài khoản</b></label>
              <select name="accountLevel" id="accountLevel" required>
                <option value="">--Lựa chọn cấp tài khoản--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            </div>
        </div>
        
        <button type="submit" class="btn save">Lưu</button>
        <!-- <input type="submit" id="btnSave" value="Lưu"> -->
        <button type="button" class="btn close" onclick="closeForm()"><i class="fa-solid fa-close"></i></button>
        <button type="button" class="btn cancel" onclick="closeForm()">Hủy</i></button>
      </form>
    </div>
    <!-- //popup -->

    <script src="/account.js"></script>
    <script src="/app.js"></script>
    <script src="/bootstrap.min.js"></script>

</body>
</html>
